<section ng-controller="TodoCtrl" ng-cloak>
    <h1>{{'todo.list.title' | translate}}</h1>
    <p> 
        <a class="button" href="#!/{{'lang' | translate}}/{{'menu.options.url' | translate}}/{{'todo.form.url' | translate}}"><i class="fa fa-plus-square fa-1x fa-fw"></i>{{'todo.list.add' | translate}}</a>    
        <span class="empty" ng-hide="todos.length > 0"> {{'todo.list.nothingToDo' | translate}}</span>
    </p>
    <p ng-show="todos.length > 0"><input type="search" ng-model="searchForName" /></p>
    <table width="100%">
        <thead>
            <tr>
                <th align="left" width="5%"><i class="fa fa-1x fa-exclamation-circle" ng-click="filterField"></i></th>
                <th align="left" ng-click="sortBy('name')">{{'todo.list.todo' | translate}}</th>
                <th align="left" ng-click="sortBy('done_by')" width="15%">{{'todo.list.done_by' | translate}}</th>
                <th align="left" width="5%" ng-click="filterField"><i class="fa fa-1x fa-square-o"></i></th>
            </tr>
        </thead>
        <tbody ng-repeat="todo in todos | orderBy:sortField:sortFieldReverse | filter:SearchForName">
            <tr>
                <td>
                    <span ng-click="todoOnOff(todo, 'priority')">
                        <i ng-hide="todo.priority" class="fa fa-1x fa-circle-o"></i>
                        <i ng-show="todo.priority" class="fa fa-1x fa-exclamation-circle"></i>
                    </span>
                </td>               
                <td ng-click="toggleTodo($index)"><span class="todoLink">{{todo.name}}</span></td>
                <td>{{todo.done_by | date:dater()}}</td>
                <td>
                    <span ng-click="todoOnOff(todo, 'done')">
                        <i ng-hide="todo.done" class="fa fa-1x fa-square-o"></i>
                        <i ng-show="todo.done" class="fa fa-1x fa-check-square-o"></i>
                    </span>
                </td>
            </tr>
            <tr ng-show="isToggledTodo($index)">
                <td></td>
                <td colspan="2">
                    <i class="fa fa-1x fa-edit" ng-click="changeTodo(todo)"></i><small>{{todo.added}}</small>
                    {{todo.description}}
                </td>
                <td><i ng-show="todo.done" class="fa fa-1x fa-archive" ng-click="todoOnOff(todo,'removed')"></i></td>
            </tr>
        </tbody>
    </table>
    <!--
    <form name="formTodo">
        <h1>{{'todo.form.title' | translate}}</h1>
        <p>
            <label>{{'todo.form.todo' | translate}}</label>
            <input type="text" ng-model="toDo.todo" placeholder="todo" required />
        </p>
        <p>
            <label>{{'todo.form.description' | translate}}</label>
            <textarea ng-model="toDo.description" placeholder="{{'todo.description' | translate}}"></textarea>
        </p>
        <p>
            <label>{{'todo.form.doneBy' | translate}}</label>
            <input type="date" ng-model="toDo.doneBy" placeholder="" required />
        </p>
        <p>
            <input type="checkbox" ng-model="toDo.priority" />{{'todo.form.priority' | translate}}<br />
        </p>
        <p>
            <button ng-disabled="!canSave()" ng-click="submitForm(toDo)">{{'todo.form.submit' | translate}}</button>
        </p>
    </form>
    <pre ng-bind="toDo | json"></pre>
    -->
</section>